@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fixed-search {
  position: fixed;
  top: 0;
  z-index: 20;
}
/* custom width items */
@media (max-width: 400px) {
  .custom-mxxs-grid-cols-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .sm-none{
    display: none;
  }
}
@media (max-width: 768px) {
  .md-none{
    display: none;
  }
}
@media (max-width: 1024px) {
  .lg-none{
    display: none;
  }
}

/* CUSTOM SPACING */
.cmax-w-34rem{
max-height:34rem;
}

.right-88 {
  right: 23rem;
}

.right-106 {
  right: 28rem;
}

a{
  cursor: pointer;
}

/* carousel styling */
.slick-prev:before, .slick-next:before {
  font-family: 'slick'!important;
  font-size: 25px!important;
  line-height: 1!important;
  opacity: .75!important;
  color: #818181!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev, .slick-next {
  z-index: 1;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 40%!important;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #6c6c6c !important;
  border: none;
  outline: none;
  background: #00000000 !important;
}

.slick-prev{
left: 35px !important;;
}

.slick-next {
  right: 35px !important;;
}

.bg-colour-info-column{
  background-color: #f2f0f0;
}

























/* Separator Stuff */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgb(158, 158, 158);
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

