@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HIDE TAGS BEYOND CERTAIN POINT */
@media (max-width: 640px) {
  .sm-none{
    display: none;
  }
}
@media (max-width: 768px) {
  .md-none{
    display: none;
  }
}
@media (max-width: 1024px) {
  .lg-none{
    display: none;
  }
}

.right-88 {
  right: 23rem;
}